:root {
  --font-base: "Helvetica Neue","Helvetica","Arial","sans-serif";  
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #23272a;
  font-family: var(--font-base);
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: system-ui,"-apple-system","Segoe UI","Roboto", var(--font-base);
}

p {
  font-family: "Whitney", var(--font-base);
}
