/* This is the custom Discord color scheme */
[data-md-color-scheme=discord] {

  /* Default color shades */
  --md-default-fg-color:               #FFFFFFDE;
  --md-default-fg-color--light:        #FFFFFF89;
  --md-default-fg-color--lighter:      #FFFFFF51;
  --md-default-fg-color--lightest:     #FFFFFF12;
  --md-default-bg-color:               #2c2f33;
  --md-default-bg-color--light:        #4F545C;
  --md-default-bg-color--lighter:      #72767D;
  --md-default-bg-color--lightest:     #BEB9BB;

  /* Primary color shades */
  --md-primary-fg-color:               #5865F2;
  --md-primary-fg-color--light:        #5865F2;
  --md-primary-fg-color--dark:         #5865F2;
  --md-primary-bg-color:               hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);

  /* Accent color shades */
  --md-accent-fg-color:                #5865F2;
  --md-accent-fg-color--transparent:   hsla(#5865F2, 0.1);
  --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);

  /* Code color shades */
  --md-code-fg-color: hsla(var(--md-hue),18%,86%,1);
  --md-code-bg-color: #202225;
  --md-code-bg-border: #23272a;

  /* Code highlighting color shades */
  --md-code-hl-color:              rgba(66,135,255,0.15);
  --md-code-hl-number-color:       #e6695b;
  --md-code-hl-special-color:      #f06090;
  --md-code-hl-function-color:     #c973d9;
  --md-code-hl-constant-color:     #9383e2;
  --md-code-hl-keyword-color:      #6791e0;
  --md-code-hl-string-color:       #2fb170;
  --md-code-hl-name-color:           var(--md-code-fg-color);
  --md-code-hl-operator-color:       var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:    var(--md-default-fg-color--light);
  --md-code-hl-comment-color:        var(--md-default-fg-color--light);
  --md-code-hl-generic-color:        var(--md-default-fg-color--light);
  --md-code-hl-variable-color:       var(--md-default-fg-color--light);

  /* Typeset color shades */
  --md-typeset-color:                var(--md-default-fg-color);

  /* Typeset `a` color shades */
  --md-typeset-a-color:              var(--md-primary-fg-color);

  /* Typeset `mark` color shades */
  --md-typeset-mark-color:           rgba(255,255,0,0.5);

  /* Typeset `del` and `ins` color shades */
  --md-typeset-del-color:            hsla(6, 90%, 60%, 0.15);
  --md-typeset-ins-color:            hsla(150, 90%, 44%, 0.15);

  /* Typeset `kbd` color shades */
  --md-typeset-kbd-color:            hsla(0, 0%, 98%, 1);
  --md-typeset-kbd-accent-color:     hsla(0, 100%, 100%, 1);
  --md-typeset-kbd-border-color:     hsla(0, 0%, 72%, 1);

    /* Typeset `table` color shades */
  --md-typeset-table-color:          hsla(0, 0%, 0%, 0.12);

  /* Admonition color shades */
  --md-admonition-fg-color:          var(--md-default-fg-color);
  --md-admonition-bg-color:          var(--md-default-bg-color);

  /* Footer color shades */
  --md-footer-fg-color:              hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light:       hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter:     hsla(0, 0%, 100%, 0.3);
  --md-footer-bg-color:              hsla(0, 0%, 0%, 0.87);
  --md-footer-bg-color--dark:        hsla(0, 0%, 0%, 0.32);
}

/* Make headers clearer */
.md-typeset h1 {
  color: var(--md-typeset-color);
}

/* Give codeblocks borders */
.md-typeset code {
  outline-width: 1px;
  border: 1px solid var(--md-code-bg-border);
  border-radius: 4px;
}

/* Center images */
.md-typeset img, .md-typeset svg {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
